* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#e3ced5;
    font-family: Arial, sans-serif;
    height: 100vh;
}

main{
   margin:auto;
   max-width:1200px;

}

.header {
    background: #333;
    color: white;
    font-size:20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 70px;
}

.product-card {
    height:340px;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    box-shadow:0 5px 10px rgba(123,123,123, 0.436);
    transition: transform 0.6s ease, box-shadow 0.6s ease;
    animation: fadein 1.5s ease;
}

@keyframes fadein{
    from{
       transform:translatey(15px);
       opacity: 0;
    }
    to{
       transform:translatey(0px);
       opacity: 1;
    }
}
.product-card:hover{
    transform:translatey(-10px);
    box-shadow: 0 8px 15px rgb(65, 61, 61);
}

.product-badge {
    position: absolute;   
    top: 15px;
    right: 15px;
    background: #ff7da9; 
    color: white;
    padding: 6px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    transition: transform 0.3s ease;
    animation:pulse 1.5s ease-in-out infinite;
}

.product-icon {
    font-size: 50px;  
    display: block;    
    margin-bottom: 30px;
    margin-top: 20px;
    transition:transform 0.3s ease;
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform:translatey(0px);
    }
    50%{
        transform:translatey(-10px);
    }
}    

@keyframes pulse{
    0%,100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.1);
    }
}

h2{
    margin-bottom: 25px;
}

.pro-desc{
    line-height: 20px;
    color: gray;
    margin-bottom: 20px;
}

.pro-price {
    color: #5b6ef8;
    font-size:30px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.btn {
    background: #5b6ef8;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width:100%;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
    background-color: rgb(78,78,249);
}

 .btn:active{
    transition:scale(0.95);
 }


.comparision-table {
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow:0 5px 10px rgb(161, 161, 161);
    .comparision-table td,th{
    max-width:90px;
    }
}

.pc {
    text-align: center;
    color: black;
    font-size: 35px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 40px;

}

.comparision-table thead{
    text-align:center;
    background-color: rgb(101, 101, 250);
    color :white;
    padding:10px;
}

.comparision-table th,td {
    max-width: 130px;
    padding:20px;
    border-bottom:1px rgba(223, 223, 223, 0.603) solid;
}

.lc td{
    border-bottom: none;
}

tr:hover{
    background:rgba(230, 230, 230, 0.331);;
}

footer {
    background: #716969cb;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top:20px;
}

@media (max-width:768px){
    .product-cards{
        grid-template-columns: 1fr;
    }
   
}









